{% extends "timetracking/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<section>
  <div class="container">

    <h1 class="mb-3">Bookings for {{ user }}</h1>
  </div>
</section>


<!-- Daily overview -->
<section class="my-5">
  <div class="container bg-light p-4 rounded shadow-sm">
    <h2>Daily overview</h2>
    <div class="row">
      {% for key, value in daily_overview.items %}
      <div class="col-md-4 col-12">
        <div class="fw-bold mt-3">{{ key }}</div>
        <hr class="mt-0 mb-2">
          {% for category, duration in value.items %}
          <div><span class="fw-bold">{{ category }}:</span> {{ duration }} minutes</div>
          {% empty %}
          <div class="text-muted">No bookings recorded</div>
          {% endfor %}
      </div>
        {% endfor %}
    </div>
  </div>
</section>

<!-- Weekly overview -->
<section class="my-5">
  <div class="container bg-light p-4 rounded shadow-sm">
    <h2>Weekly overview</h2>
    <div class="row">
      {% for key, value in weekly_overview.items %}
      <div class="col-md-4 col-12">
        <div class="fw-bold mt-3">Week of {{ key }}</div>
        <hr class="mt-0 mb-2">
          {% for category, duration in value.items %}
          <div><span class="fw-bold">{{ category }}:</span> {{ duration }} minutes</div>
          {% empty %}
          <div class="text-muted">No bookings recorded</div>
          {% endfor %}
      </div>
        {% endfor %}
    </div>
  </div>
</section>

<!-- Monthly overview -->
<section class="my-5">
  <div class="container bg-light p-4 rounded shadow-sm">
    <h2>Monthly overview</h2>
    <div class="row">
      {% for key, value in monthly_overview.items %}
      <div class="col-md-4 col-12">
        <div class="fw-bold mt-3">{{ key }}</div>
        <hr class="mt-0 mb-2">
          {% for category, duration in value.items %}
          <div><span class="fw-bold">{{ category }}:</span> {{ duration }} minutes</div>
          {% empty %}
          <div class="text-muted">No bookings recorded</div>
          {% endfor %}
      </div>
        {% endfor %}
    </div>
  </div>
</section>

<!-- All bookings -->
<section>
  <div class="container bg-light p-4 rounded shadow-sm">
    <h2>All bookings</h2>
    <div class="text-end text-success mb-3"><a href="{% url 'booking_new' %}"><i class="bi-plus-circle h3"></i></a></div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">On</th>
            <th class="text-end" scope="col">From</th>
            <th class="text-end" scope="col">Until</th>
            <th class="text-end" scope="col">Min</th>
            <th scope="col">Category</th>
            <th scope="col">Comment</th>
            <th scope=""col>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in booking_list %}
          <tr>
            <td>{{ booking.date }}</td>
            <td class="text-end">{{ booking.start_time|date:"g:i A" }}</td>
            <td class="text-end">{{ booking.end_time|date:"g:i A" }}</td>
            <td class="text-end">{{ booking.duration }}</td>
            <td>{{ booking.category }}</td>
            <td>{{ booking.comment }}</td>
            <td><a class="text-warning" href="{% url 'booking_edit' booking.pk %}"><i class="bi-pen"></i></a><a class="text-danger ms-2" href="{% url 'booking_delete' booking.pk %}"><i class="bi-x-circle"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>


{% endblock content %}