{% extends "apps/base.html" %}

{% block content %}
<section>
  <div class="container text-center bg-light p-5 mt-5">
    <div class="display-1 mb-5">SBS Apps</div>
    <div class="row justify-content-center gap-3">
      <div class="col-12 col-sm-10 col-lg-2 bg-outline-success fw-bold rounded shadow border py-4">Job Search</div>
    <a href="{% url 'timetracking_home' %}" class="col-12 col-sm-10 col-lg-2 bg-outline-success fw-bold rounded shadow border py-4">Time Tracking
    </a>
      <div class="col-12 col-sm-10 col-lg-2 bg-outline-success fw-bold rounded shadow border py-4">Investment Acumen</div>
      <div class="col-12 col-sm-10 col-lg-2 bg-outline-success fw-bold rounded shadow border py-4">Programming Acumen</div>
    </div>
  </div>
</section>

{% endblock content %}