{% extends "timetracking/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Edit Booking{% endblock title %}

{% block content %}
<section>
  <div class="container">
    <h1 class="mb-5 bg-primary p-5 text-light text-center rounded shadow">Jobsearch App</h1>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col text-center flex-column align-items-center d-none d-md-flex">
        <h1 class="mb-4 display-3"><i class="bi-alarm display-1 text-danger me-4"></i>Reminders</h1>
      </div>
      <div class="col">
        {% for activity in activities %}
          {% if activity.reminder_date and not activity.reminder_completed %}
            <div class="card my-3 shadow">
              <div class="card-header position-relative">
                <div class="text-muted">
                  {{ activity.reminder_date|date:"d F Y" }}
                </div>
                <div class="position-absolute top-0 end-0 me-3">
                  <a href="{% url 'activity_edit' activity.pk %}">
                    <i class="bi-pen text-warning"></i></div>
                  </a>
              </div>
              <div class="card-body">
                <p class="fw-bold">{{ activity.headline  }}</p>
                <p><span class="text-decoration-underline">Next steps:</span> {{ activity.next_steps }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container bg-light py-4">
    <div class="text-end"><a href="{% url 'activity_new' %}"><i class="bi-plus-circle text-primary h1"></i></a></div>
    <div class="row">
      <div class="col text-center flex-column align-items-center d-none d-md-flex">
        <h1 class="mb-4 display-3"><i class="bi-activity display-1 text-primary me-4"></i>Latest activities</h1>
        <div class="mt-5 mb-3"><i class="bi-record-circle-fill text-primary"></i></div>
        <div class="my-3"><i class="bi-record-circle-fill text-primary"></i></div>
        <div class="my-3"><i class="bi-record-circle-fill text-primary"></i></div>
      </div>
      <div class="col">

        <div class="d-md-none h1"><i class="bi-activity text-primary"></i> Latest activities</div>
        {% for activity in activities %}
        <div class="card my-3 shadow">
          <div class="card-header text-muted">{{ activity.date|date:"d F Y" }}</div>
          <div class="card-body">
            <p class="fw-bold">{{ activity.headline }}</p>
            <p>{{ activity.description }}</p>
            <div class="text-end">
              <a class="btn btn-outline-primary btn-sm text-end" href="{{ activity.get_absolute_url }}">Click for more</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}